{% extends '../Sales/base.html' %}

{% block content %}
<div class="container col-md-6" style=" margin: auto;">
    <div class="row">
        <div class="col-md-" style="text-align:center;"> <h1> Sales Tracker Invoice </h1></div>
    </div>
    
    {% for s in saless %}
   
       
    <table class="table  table-bordered table-sm" style="border:2px solid black">
        
        <tr>
            <th style="border:1px solid black"> Customer Name</th>
            <td style="border:1px solid black">  {{ s.id }}</td>
        </tr>
        
        <tr>
            <th style="border:1px solid black"> Item</th>
            <td style="border:1px solid black">  {{ i.item }}</td>
        </tr>
        
        <tr>
            <th style="border:1px solid black"> Description</th>
            <td style="border:1px solid black">  {{ i.description }}</td>
        </tr>
        
        <tr>
            <th style="border:1px solid black"> Quantity</th>
            <td style="border:1px solid black">  {{ i.quantity }}</td>
        </tr>
        
        <tr>
            <th style="border:1px solid black"> Status</th>
            <td style="border:1px solid black">  {{ i.status }}</td>
        </tr>
        
        <tr>
            <th style="border:1px solid black"> Amount</th>
            <td style="border:1px solid black">  {{ i.amount }}</td>
        </tr>

        <tr>
            <th style="border:1px solid black"> Discount</th>
            <td style="border:1px solid black">  {{ i.discount }}</td>
        </tr>

        <tr>
            <th style="border:1px solid black"> Due Amount</th>
            <td style="border:1px solid black">  {{ i.dueamount}}</td>
        </tr>
        <tr>
            <th style="border:1px solid black"> Total </th>
            <td style="border:1px solid black">  {{ i.total}}</td>
        </tr>
        <br>
        <div class="row">
            <div class="col-md-" style="text-align: end;"> <h4>Date {{ i.date }} </h4></div>
          </div>
        
    </table> 
   
      {% endfor %}
      <div class="container">
        <a href="{% url 'index' %}" class="btn btn-success btn-lg">Back to home page </a>
     </div>
</div>




{% endblock %}