{% extends '../Sales/base.html' %}

{% block content %}
<div class="container col-md-6" style=" margin: auto;">
    <div class="row">
        <div class="col-md-" style="text-align:center;"> <h1> Sales Tracker Invoice </h1></div>
    </div>
    
    {% for sale in sales %}
   
       
    <table class="table  table-bordered table-sm" style="border:2px solid black">
        
        <tr>
            <th style="border:1px solid black"> Customer Name</th>
            <td style="border:1px solid black">  {{ sale.sold_to }}</td>
        </tr>
        
        <tr>
            <th style="border:1px solid black"> Item</th>
            <td style="border:1px solid black">  {{ sale.item }}</td>
        </tr>
     
        
        <tr>
            <th style="border:1px solid black"> Quantity</th>
            <td style="border:1px solid black">  {{ sale.quantity }}</td>
        </tr>
        
        <tr>
            <th style="border:1px solid black"> Status</th>
            <td style="border:1px solid black">  {{sale.status }}</td>
        </tr>
        
        <tr>
            <th style="border:1px solid black"> Rate</th>
            <td style="border:1px solid black">  {{ sale.amount }}</td>
        </tr>

        <tr>
            <th style="border:1px solid black"> Discount Per Item</th>
            <td style="border:1px solid black">  {{ sale.Discount }}</td>
        </tr>

        <tr>
            <th style="border:1px solid black"> Due Amount</th>
            <td style="border:1px solid black">  {{ sale.dueamount}}</td>
        </tr>
        <tr>
            <th style="border:1px solid black"> Total </th>
            <td style="border:1px solid black">  {{ sale.Total}}</td>
        </tr>
        <br>
        <div class="row">
            <div class="col-md-" style="text-align: end;"> <h4>Date {{ sale.date }} </h4></div>
          </div>
        
    </table> 
   
      {% endfor %}
      <div class="container">
        <a href="{% url 'index' %}" class="btn btn-success btn-lg">Back to home page </a>
     </div>
</div>




{% endblock %}



{% for sale in sales %}
    {{sale.item}}
    {{sale.sold_to}}
    {{sale.amount}}
    {{sale.Total}}

{% endfor %}

<h3>Total Sum: </h3>{{total_sum}}