#user{
    padding-left: 150px;
    font-size: x-large;
    float: right;
  
}
.flex-container >a  >div {
    background-color: white;
    width: 265px;
    height: 250px;
    margin: 10px;
    text-align: center;
    line-height: 10px;
    font-size: 30px;
    color: black;
    padding-top: 100px;
    margin-top: 20px;
    align-content: left;
    background-color: #eee;
    float: left;
  }