.container{
    padding-left: 200px;
    margin-right: 250px;
  
}
h1{
    text-align: center;
}
hr.b {
    border: 1px solid black;
  }
#name{
    text-align: center;
}
.table th td{
    border: 1px solid black;
}